---
import getProjectCards from "../../api/getProjectCards.js";
import ProjectCard from "./project-card.astro";

const projects = await getProjectCards();
---

<div>
  <h1 class="text-center text-4xl md:text-9xl">Projects</h1>

  <hr
    class="m-auto mb-5 w-1/2 border-neutral-600 bg-black md:mb-14 md:border-2"
  />
  <div class="quote text-center text-[3vw]">
    <div>When I wrote this code, only God and I understood what it meant.</div>
    <div>Now only God knows.</div>
  </div>

  <div class="flex">
    <div class="mx-[3vw] flex w-5/12 flex-col gap-20">
      {
        projects
          .filter((_, index) => index % 2 === 0)
          .map((project) => {
            return <ProjectCard project={project} />;
          })
      }
    </div>
    <div class="mx-[3vw] mt-32 flex w-5/12 flex-col gap-20">
      {
        projects
          .filter((_, index) => index % 2 !== 0)
          .map((project) => {
            return <ProjectCard project={project} />;
          })
      }
    </div>
  </div>
</div>
