---
import getProjectCards from "../../api/getProjectCards.js";

const projects = await getProjectCards();
---

<div>
  <h1 class="text-center text-4xl md:text-9xl">Projects</h1>

  <hr
    class="m-auto mb-5 w-1/2 border-neutral-600 bg-black md:mb-14 md:border-2"
  />
  <div class="m-auto w-1/3 text-center">
    When I wrote this code, only God and I understood what it meant. Now only
    God knows.
  </div>
</div>
