---
import JokeOverlay from "../sections/joke-overlay/JokeOverlay";
import Title from "../sections/title.astro";
import AboutMe from "../sections/about-me.astro";
import Skills from "../sections/skills/skills.astro";
import Projects from "../sections/projects/projects.astro";
import GithubCard from "../sections/github/GithubCard";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Welcome to Gavin Yan's portfolio! A Queen's University student showcasing expertise in frontend and backend development, proficiency in various devtools, and a diverse range of innovative projects. Currently open to job opportunities in the tech industry!"
    />
    <meta name="robots" content="index, follow" />

    <meta property="og:title" content="Gavin Yan - Queen's Student" />
    <meta
      property="og:description"
      content="Welcome to Gavin Yan's portfolio! A Queen's University student showcasing expertise in frontend and backend development, proficiency in various devtools, and a diverse range of innovative projects. Currently open to job opportunities in the tech industry!"
    />
    <meta
      property="og:image"
      content="https://gavinyan.vercel.app/site-preview.jpeg"
    />
    <meta property="og:url" content="https://gavinyan.vercel.app" />
    <meta property="og:type" content="website" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&family=Quicksand:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <title>Gavin Yan - Queen's Student</title>
  </head>
  <body
    class="overflow-x-hidden overflow-y-hidden bg-orange-100 font-jua text-neutral-600"
  >
    <JokeOverlay client:load />
    <img class="ml-auto h-[15vw] w-3/5" src="blue-box.svg" alt="" />
    <Title />

    <main class="relative my-12 md:mt-28 lg:mt-48">
      <div class="flex flex-col gap-6 md:gap-20">
        <AboutMe />
        <Skills />
        <Projects />
        <GithubCard client:idle />
      </div>
    </main>

    <footer
      class="footer flex items-center justify-between bg-neutral-700 px-[5%] py-[2%] text-slate-200"
    >
      <div class="text-center">
        © 2024 Gavin Yan <br /> All rights reserved
      </div>
      <div class="flex items-center justify-end gap-2">
        <div class="text-center">
          <h1>Website's Source Code</h1>
          <h2 class="small-description">I had a lot of fun building this.</h2>
        </div>
        <div class="mx-[2vw]">
          <svg
            fill="rgb(226 232 240)"
            xmlns="http://www.w3.org/2000/svg"
            width="10.605"
            height="15.555"
            ><path
              d="m2.828 15.555 7.777-7.779L2.828 0 0 2.828l4.949 4.948L0 12.727l2.828 2.828z"
            ></path></svg
          >
        </div>
        <a
          href="https://github.com/yangavin/portfolio"
          target="_blank"
          class="w-[17%]"
          class="w-8"><img src="white-github.svg" alt="GitHub Logo" /></a
        >
      </div>
    </footer>
  </body>

  <style>
    .footer {
      font-size: clamp(0.7rem, 1.5vw, 2rem);
    }
    .small-description {
      font-size: 0.7em;
    }
  </style>
</html>
