---
import Title from "../sections/title.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <title>Gavin Yan - Queen's Student</title>
  </head>
  <body class="overflow-x-hidden bg-orange-100 text-neutral-600">
    <!-- <JokeOverlay client:load /> -->
    <img class="ml-auto h-[15vw] w-3/5" src="blue-box.svg" alt="Blue Box" />
    <Title />
    <!-- <hr
      class="-mx-28 my-8 -rotate-6 border-black bg-black lg:my-32 lg:border-2"
    /> -->
  </body>
</html>
