---
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";

type paragraphs = {
  contentTypeId: "paragraphs";
  fields: {
    content: EntryFieldTypes.RichText;
  };
};

const content = await contentfulClient.getEntry<paragraphs>(
  "5AiBzb1VpHv56DVdAJBhCH",
);
---

<div class="relative px-8">
  <img src="yellow-cylinder.svg" class="absolute left-0 top-1/3 -z-10" />
  <img src="red-ellipse.svg" class="absolute right-0 top-2/3 -z-10" />
  <h1 class="mb-10 text-[7vw]">About Me</h1>
  <div
    class="clamp-text relative m-auto flex max-w-[55ch] flex-col gap-[3ch]"
    set:html={documentToHtmlString(content.fields.content)}
  />
</div>
<style>
  .clamp-text {
    font-size: clamp(1rem, 2.5vw, 1.7rem);
  }
</style>
