---
import { contentfulClient } from "../lib/contentful";
import { documentToHtmlString } from "@contentful/rich-text-html-renderer";
import type { EntryFieldTypes } from "contentful";

type paragraphs = {
  contentTypeId: "paragraphs";
  fields: {
    content: EntryFieldTypes.RichText;
  };
};

const content = await contentfulClient.getEntry<paragraphs>(
  "5AiBzb1VpHv56DVdAJBhCH",
);
---

<div>
  <h1 class="mb-10 text-xl font-thin md:mb-44 md:pl-10 md:text-9xl">
    About Me
  </h1>
  <div
    class="relative m-auto flex max-w-[55ch] flex-col gap-[3ch] text-xs md:text-2xl"
    set:html={documentToHtmlString(content.fields.content)}
  />
</div>
