<div class="text-slate-200">
  <a
    href="https://github.com"
    target="_blank"
    class="m-auto mb-5 block max-w-20"
    ><img src="named-github.svg" alt="GitHub Logo" /></a
  >
  <div class="m-auto w-9/12 max-w-xl">
    <a href="https://github.com/yangavin" target="_blank">
      <div
        class="flex flex-col items-center justify-evenly gap-12 rounded-md bg-gray-700 px-8 py-12 md:flex-row md:gap-0"
      >
        <div class="flex flex-col items-center gap-5">
          <img src="personal-logo.svg" alt="Personal Logo" class="w-28" />
          <h1 class="text-3xl">Gavin Yan</h1>
        </div>
        <img
          src="vertical-line.svg"
          alt="verical-line"
          srcset=""
          class="hidden md:inline"
        />
        <div class="flex flex-col gap-5 text-xl">
          <div class="flex flex-col items-center">
            <h1>Repository</h1>
            <p>17</p>
          </div>
          <div class="flex flex-col items-center">
            <h1>Total Contributions</h1>
            <p>412</p>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="m-auto w-7/12 max-w-md rounded-b-md bg-slate-600 py-3">
    <h1 class="mb-4 text-center">Feel free to Connect!</h1>
    <div class="flex justify-evenly">
      <a href="https://www.linkedin.com/in/gavin-yan-6b488725b/" target="_blank"
        ><img src="linkedin.svg" alt="LinkedIn Logo" /></a
      >
    </div>
  </div>
</div>
