<div class="flex flex-col items-center gap-4 text-slate-200">
  <img src="named-github.svg" alt="GitHub Logo" class="max-w-20" />
  <div class="w-9/12 max-w-lg">
    <div class="flex items-center justify-around rounded-md bg-gray-700 p-10">
      <div>
        <img src="personal-logo.svg" alt="Personal Logo" />
        <h1>Gavin Yan</h1>
      </div>
      <div>
        <div class="flex flex-col">
          <h1>Repository</h1>
          <p>17</p>
        </div>
        <div class="flex flex-col">
          <h1>Total Contributions</h1>
          <p>412</p>
        </div>
      </div>
    </div>
  </div>
</div>
