<div class="mb-16 pl-3 font-quicksand leading-none">
  <div class="pb-4">
    <h2 class="text-[4vw] font-thin">CS Student</h2>
    <h2 class="text-[4vw] font-thin">Queen's University</h2>
  </div>
  <div class="text-[17vw]">
    <h1 class="mb-[.4em] font-light">Gavin Yan</h1>
    <hr class="-ml-8 -rotate-6 border-black bg-black md:border-2" />
  </div>
</div>
