<div class="px-3 md:px-5 lg:px-10">
  <div class="pb-4">
    <h2 class="text-2xl font-thin md:text-4xl lg:text-6xl">CS Student</h2>
    <h2 class="text-2xl font-thin md:text-4xl lg:text-6xl">
      Queen's University
    </h2>
  </div>
  <h1 class="text-7xl font-thin md:text-9xl lg:text-[13rem]">Gavin Yan</h1>
</div>
