<div class="mb-16 pl-3 font-quicksand leading-none">
  <div>
    <h2 class="title title pl-[1.5vw] font-thin">CS Student</h2>
    <h2 class="title title pb-4 pl-[1.5vw] font-thin">Queen's University</h2>
    <h1 class="title gavin-text mb-[.4em] font-light">Gavin Yan</h1>
  </div>
  <hr class="bar -ml-8 border-black bg-black md:border-2" />
</div>

<style>
  .title {
    font-size: clamp(1.5rem, 4vw, 8rem);
  }

  .gavin-text {
    font-size: clamp(3rem, 17vw, 17rem);
  }

  .title {
    opacity: 0;
  }
  .bar {
    opacity: 0;
  }
  .slide-in {
    animation: slideFromLeft 1s forwards;
  }
  .grow {
    animation: grow 1s ease-out forwards;
    animation-delay: 1s;
  }

  @keyframes slideFromLeft {
    0% {
      transform: translateX(-100%);
      filter: blur(10px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes grow {
    0% {
      opacity: 0;
      transform: scaleX(0);
    }
    100% {
      opacity: 1;
      transform: scaleX(1) rotate(-6deg);
    }
  }

  .slide-in:nth-child(2) {
    animation-delay: 0.25s;
  }

  .slide-in:nth-child(3) {
    animation-delay: 0.5s;
  }
</style>
