<div class="mb-12 pl-3 font-quicksand leading-none md:pl-5 lg:mb-28 lg:pl-10">
  <div class="pb-4">
    <h2 class="text-[4vw] font-thin">CS Student</h2>
    <h2 class="text-[4vw] font-thin">Queen's University</h2>
  </div>
  <h1 class="text-[17vw] font-light">Gavin Yan</h1>
</div>
