<div class="font-quicksand mb-12 pl-3 md:pl-5 lg:mb-28 lg:pl-10">
  <div class="pb-4">
    <h2 class="text-lg font-thin md:text-4xl lg:text-6xl">CS Student</h2>
    <h2 class="text-lg font-thin md:text-4xl lg:text-6xl">
      Queen's University
    </h2>
  </div>
  <h1 class="text-5xl font-light md:text-9xl lg:text-[13rem]">Gavin Yan</h1>
</div>
