---
type Props = {
  skills: {
    logo: string;
    title: string;
    url: string;
  }[];
  small?: boolean;
};
const { skills, small } = Astro.props;
---

<div>
  <h2 class="mb-10 text-center"><slot /></h2>
  <div class="m-auto flex w-11/12 flex-wrap justify-center gap-x-7 gap-y-6">
    {
      skills.map(({ logo, title, url }) => {
        return (
          <a
            href={url}
            class="flex w-fit grow flex-col items-center gap-6"
            target="_blank"
          >
            <img src={logo} alt={title} class={small ? "w-20" : "w-28"} />
            <span class={small ? "text-2xl" : ""}>{title}</span>
          </a>
        );
      })
    }
  </div>
</div>

<style>
  h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
  }
  span {
    font-size: clamp(1.5rem, 2vw, 3rem);
  }
  img {
    width: clamp(3rem, 10vw, 7rem);
  }
</style>
