---
type Skill = {
  logo: string;
  title: string;
  url: string;
};
const { skills } = Astro.props as { skills: Skill[] };
---

<div>
  <h2 class="mb-3 text-center text-2xl md:mb-10 md:text-6xl"><slot /></h2>
  <div class="m-auto flex w-11/12 flex-wrap justify-center gap-x-7 gap-y-3">
    {
      skills.map(({ logo, title, url }) => {
        return (
          <a
            href={url}
            class="flex w-fit flex-col items-center gap-2 md:grow md:gap-6"
          >
            <img src={logo} alt={title} class="w-12 md:w-28" />
            <span class="text-xs md:text-4xl">{title}</span>
          </a>
        );
      })
    }
  </div>
</div>
