---
import { contentfulClient } from "../../lib/contentful";
import type { EntryFieldTypes } from "contentful";
import Category from "./category.astro";

type techCard = {
  contentTypeId: "techCard";
  fields: {
    logo: EntryFieldTypes.AssetLink;
    title: EntryFieldTypes.Text;
    url: EntryFieldTypes.Text;
  };
};
type Logo = {
  fields: {
    file: {
      url: string;
    };
  };
};

const languages = (
  await contentfulClient.getEntries<techCard>({
    content_type: "techCard",
    "metadata.tags.sys.id[all]": ["language"],
    order: ["sys.createdAt"],
  })
).items.map((language) => {
  return {
    logo: `https:${(language.fields.logo as Logo).fields.file.url}`,
    title: language.fields.title,
    url: language.fields.url,
  };
});
---

<div>
  <h1 class="text-center text-3xl md:text-9xl">Skills</h1>

  <hr
    class="m-auto mb-5 w-1/2 border-neutral-600 bg-black md:mb-14 md:border-2"
  />
  <Category skills={languages}>Languages</Category>
</div>
