---
import { contentfulClient } from "../../lib/contentful";
import type { EntryFieldTypes } from "contentful";
import Category from "./category.astro";

type techCard = {
  contentTypeId: "techCard";
  fields: {
    logo: EntryFieldTypes.AssetLink;
    title: EntryFieldTypes.Text;
    url: EntryFieldTypes.Text;
  };
};
type Logo = {
  fields: {
    file: {
      url: string;
    };
  };
};

async function getTechCardsByTags(tags: string[]) {
  return (
    await contentfulClient.getEntries<techCard>({
      content_type: "techCard",
      "metadata.tags.sys.id[all]": tags,
      order: ["sys.createdAt"],
    })
  ).items.map((techCard) => {
    return {
      logo: `https:${(techCard.fields.logo as Logo).fields.file.url}`,
      title: techCard.fields.title,
      url: techCard.fields.url,
    };
  });
}

const languages = await getTechCardsByTags(["language"]);
const technologies = await getTechCardsByTags(["technology"]);
const devTools = await getTechCardsByTags(["devTool"]);
---

<div>
  <h1 class="text-center text-3xl md:text-9xl">Skills</h1>

  <hr
    class="m-auto mb-5 w-1/2 border-neutral-600 bg-black md:mb-14 md:border-2"
  />
  <div class="flex flex-col gap-3 md:gap-20">
    <Category skills={languages}>Languages</Category>
    <Category skills={technologies}>Technologies</Category>
    <Category skills={devTools}>Dev Tools</Category>
  </div>
</div>
