---
import getTechCardsByTags from "../../api/getTechCardsByTags";
import Category from "./category.astro";

const languages = await getTechCardsByTags(["language"]);
const technologies = await getTechCardsByTags(["technology"]);
const devTools = await getTechCardsByTags(["devTool"]);
---

<div>
  <h1 class="text-center text-[11vw]">Skills</h1>

  <hr class="m-auto w-1/2 border-neutral-600 bg-black md:border-2" />
  <div class="flex flex-col gap-3 md:gap-20">
    <Category skills={languages}>Languages</Category>
    <Category skills={technologies}>Technologies</Category>
    <Category skills={devTools} small>Dev Tools</Category>
  </div>
</div>
