---
const question = "Why couldn't web developers find their room in a hotel?";
const punchline = "Because their room number is 404";
---

<div
  class="font-anonymous-pro animate-slide-out fixed flex h-full w-full flex-col items-center justify-center gap-10 bg-orange-100 lg:gap-20"
>
  <h1
    class="w-3/4 text-center text-2xl md:text-3xl lg:text-7xl lg:leading-snug"
  >
    {question}
  </h1>
  <hr class="w-9/12 border-black" />
  <h2 class="text-center md:text-2xl lg:text-3xl">{punchline}</h2>
</div>
